body {
    background-color: mediumpurple;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

h3 {
    text-align: center;
    font-weight: normal;
}

a img {
    border: none;
    background: transparent;
    display: block;
}
a img:hover {
    opacity: 0.8;
}
a {
    text-decoration: none;
}

